* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.allItems {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 40px;
}
.item {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 16rem;
  height: 18rem;
  background: #ffffff;
  border: 1px solid #ffffff;
  /* border: 1px dashed #cecece; */
  border-radius: 2px;
  margin: 33px;
  margin-bottom: 1px;
  cursor: pointer;
  overflow: hidden;
  transition: 0.3s;
}
.item:hover {
  border: 1px solid #ff5e03;
  /* transform: scale(1.05); */
  box-shadow: 0px 0px 1px 1px #ff5f03be;
  /* border-radius: 20px; */
}
.imgHome {
  width: 100%;
}
.imgItem {
  max-width: 13rem;
  max-height: 11rem;
  transition: 0.1s;
}
.unavb {
  position: absolute;
  opacity: 75%;
  box-shadow: 0px 2px 6px 8px #ffffff;
}
/* #itemImgBox:hover {
  transform: scale(1.01);
} */
#itemImgBox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16rem;
  height: 12.25rem;
  transition: 0.25s;
}
.imgItemTag {
  max-width: 18rem;
  max-height: 16rem;
}
.itemDetail {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 400;
  font-size: 0.7rem;
  line-height: 17px;
  padding: 0px 5px;
  color: #4e4e4e;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}
.itemName {
  color: #000000;
  margin-bottom: 5px;
  font-family: 'Be Vietnam Pro';
  /* font-family: 'Montserrat', sans-serif; */
  padding: 0 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  margin-top: 9px;
  margin-bottom: 7px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}
.itemInfo {
  width: 100%;
  padding: 0 10px;
  /* padding-top: 0; */
  /* padding-bottom: 0; */
}
hr {
  color: black;
  width: 2px;
}
.searchMsg {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Be Vietnam Pro';
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
}
.unhappy {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10vh;
}
#unhappy {
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10rem;
}
.likesCount {
  margin-left: 2px;
  /* color: #ff5e03; */
  color: #ffffff;
  font-size: 0.6rem;
}
.likeItemCard {
  /* color: #ff5e03; */
  color: #ffffff;
  /* margin-left: 0.5rem; */
  /* margin-right: 0.1rem; */
  /* margin-top: 0.1rem; */
}
#likesCount {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0 5px;
  /* padding-left: 1px; */
  border-radius: 2px;
  background-color: #ff5e03;
}
@media only screen and (max-width: 658px) {
  .item {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 16rem;
    height: 18rem;
    background: #ffffff;
    border: 1px solid #ffffff;
    /* border: 1px dashed #cecece; */
    border-radius: 2px;
    margin: 33px 12px;

    margin-bottom: 1px;
    cursor: pointer;
    overflow: hidden;
    transition: 0.2s;
  }
  #unhappy {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
  }
}
