/* .dropDown {
  width: 1rem;
} */
#category {
  width: 7rem;
  height: 2rem;
  font-size: 14px;
  outline: none;
  border: none;
  background-color: transparent;
}
.dropDown {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -1.25rem;
  margin-top: 0.5rem;
  background-color: transparent;
  /* padding-left: 4rem; */
}
