@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@600&display=swap');
@import url('https://fonts.cdnfonts.com/css/lohit-tamil');
.post {
  background: #ff5e03;
  border-radius: 5px;
  border-style: hidden;
  width: 5em;
  height: 2.5rem;
  color: #ffffff;
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  margin-right: 0.8rem;
  margin-bottom: 1%;
}
#post {
  display: flex;
  align-items: center;
  justify-content: center;
}
.rentHeading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5%;
  margin-bottom: 0;
}
form {
  padding: 0 2%;
}
.rentForm {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin: 1rem auto;
  width: 593px;
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 10px;
}
.titles {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 8px;
  margin-top: 2px;
}
.heading {
  font-family: 'Lexend Deca';
  font-style: normal;
  font-weight: 600;
  font-size: 31px;
}
.detail1,
.detail2,
.detail3 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin: 2.5% 5%;
}
.detailA,
.detailB,
.detailC {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 200;
  font-size: 12px;
  /* line-height: 19px; */

  color: #675c55d1;
}
.rentBox {
  box-sizing: border-box;
  width: 100%;
  height: 36px;
  background: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
  padding: 8px;
  outline: none;
}
.des {
  height: 56px;
}
.detailA,
.detailB,
.detailC {
  margin-bottom: 0.5rem;
}
.wrapBox {
  width: 533px;
}
.rentBox:active {
  border-color: #ff5e03;
}
.upload {
  margin-top: 0.5rem;
  color: #ff5e03;
  padding: 0px 6px;
  padding-top: 6px;
  padding-bottom: 4px;
  background: #ffffff;
  border: 2px solid #ff5e03;
  border-radius: 10px;
  margin-left: 0.2rem;
}

@media only screen and (max-width: 668px) {
  .post {
    background: #ff5e03;
    border-radius: 5px;
    border-style: hidden;
    width: 4em;
    height: 2rem;
    color: #ffffff;
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    margin-right: 0.8rem;
    margin-bottom: 1%;
  }
  #post {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .rentHeading {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.5%;
    margin-bottom: 0;
  }
  form {
    padding: 0 2%;
  }
  .rentForm {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin: 1rem auto;
    width: 500px;
    box-sizing: border-box;
    background: #ffffff;
    border: 1px solid #cdcdcd;
    border-radius: 10px;
  }
  .titles {
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 8px;
    margin-top: 2px;
  }
  .heading {
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
  }
  .detail1,
  .detail2,
  .detail3 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin: 2.5% 5%;
  }
  .detailA,
  .detailB,
  .detailC {
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 200;
    font-size: 10px;
    /* line-height: 19px; */

    color: #675c55d1;
  }
  .rentBox {
    box-sizing: border-box;
    width: 100%;
    height: 36px;
    background: #ffffff;
    border: 1px solid #cdcdcd;
    border-radius: 5px;
    padding: 8px;
    outline: none;
  }
  .des {
    height: 56px;
  }
  .detailA,
  .detailB,
  .detailC {
    margin-bottom: 0.5rem;
  }
  .wrapBox {
    width: 448px;
  }
  .upload {
    margin-top: 0.5rem;
    color: #ff5e03;
    padding: 0px 6px;
    padding-top: 6px;
    padding-bottom: 4px;
    background: #ffffff;
    border: 2px solid #ff5e03;
    border-radius: 10px;
    margin-left: 0.2rem;
  }
}
@media only screen and (max-width: 512px) {
  .post {
    background: #ff5e03;
    border-radius: 5px;
    border-style: hidden;
    width: 4.6em;
    height: 2.3rem;
    color: #ffffff;
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    margin-right: 0.8rem;
    margin-bottom: 1%;
  }
  #post {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .rentHeading {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 0;
  }
  form {
    padding: 0 2%;
  }
  .rentForm {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin: 1rem auto;
    width: 368px;
    box-sizing: border-box;
    background: #ffffff;
    border: 1px solid #cdcdcd;
    border-radius: 10px;
  }
  .titles {
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 9px;
    margin-top: 2px;
  }
  .heading {
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 600;
    font-size: 1.6rem;
  }
  .detail1,
  .detail2,
  .detail3 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin: 2.5% 5%;
  }
  .detailA,
  .detailB,
  .detailC {
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 200;
    font-size: 11px;
    /* line-height: 19px; */

    color: #675c55d1;
  }
  .rentBox {
    box-sizing: border-box;
    width: 100%;
    height: 36px;
    background: #ffffff;
    border: 1px solid #cdcdcd;
    border-radius: 5px;
    padding: 8px;
    outline: none;
  }
  .des {
    height: 56px;
  }
  .detailA,
  .detailB,
  .detailC {
    margin-bottom: 0.5rem;
  }
  .wrapBox {
    width: 328px;
  }
  .upload {
    margin-top: 0.5rem;
    color: #ff5e03;
    padding: 0px 6px;
    padding-top: 6px;
    padding-bottom: 4px;
    background: #ffffff;
    border: 2px solid #ff5e03;
    border-radius: 10px;
    margin-left: 0.2rem;
  }
}
