@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100;600&family=Libre+Franklin:wght@500&display=swap');
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  background: #ffffff;
  box-shadow: 0px -2px 21px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 4rem;
}
.logo {
  width: 8rem;
  margin-left: 1.25rem;
}
.navBtns {
  display: flex;
  align-items: center;
  justify-content: center;
}
.rent {
  background: #ff5e03;
  border-radius: 5px;
  border-style: hidden;
  width: 5em;
  height: 2.5rem;
  color: #ffffff;
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  margin-right: 2vw;
}
.login {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #222222fd;
  /* font-weight: 500; */
  margin-right: 1.7vw;
}
.searchBox {
  display: flex;
  background: #ffffff;
  width: 30%;
  height: 2.5rem;
  padding: 0;
}
.searchBtn {
  border-style: none;
  padding: 5px 10px 2px 10px;
  background-color: #ff5e03;
  border: none;
  color: #ffffff;
  border-radius: 5px 0 0 5px;
}
.searchBar {
  width: 100%;
  border: none;
  outline: none;
  font-size: 1rem;
  color: #343333fd;
  border: 0.3px solid #cbcaca;
  padding: 12px;
  border-radius: 0 5px 5px 0;
}
.login:hover {
  color: #ff5e03;
  cursor: pointer;
}
.logo:hover {
  cursor: pointer;
}
