/* .searchBar {
  width: 100%;
  border: none;
  outline: none;
  font-size: 1rem;
  color: #343333fd;
  border: 0.3px solid #cbcaca;
  padding: 12px;
  border-radius: 0 5px 5px 0;
}
.searchBtn {
  border-style: none;
  padding: 5px 10px 2px 10px;
  background-color: #ff5e03;
  border: none;
  color: #ffffff;
  border-radius: 5px 0 0 5px;
}
.searchBox {
  display: flex;
  background: #ffffff;
  width: 30%;
  height: 2.5rem;
  padding: 0;
} */
