@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100;600&family=Libre+Franklin:wght@500&display=swap');
.back {
  margin-left: 1.5rem;
  color: #222222fd;
  transition: 0.2s;
}
.back:hover {
  color: #ff5e03;
}
