.backToTop {
  position: fixed;
  right: 2%;
  top: 92%;
  padding: 0.25rem;
  padding-bottom: 0px;
  border-radius: 1rem;
  border-style: none;
  background-color: #ff5e03;
  color: #ffffff;
}
